@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

button {
  background-color: white;
  border: none;
  height: 45px;
}

.flex {
  display: flex;
}

.container {
  height: 95%;
  align-items: center;
  justify-content: center;
}

.card {
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  width: 450px;
  height: 670px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 3px 8px 5px rgba(170, 170, 170, 0.15);
}

.order-header {
  margin-bottom: 15px;
}

.order-summary {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.description {
  text-align: center;
  width: 350px;
  margin-bottom: 15px;
  color: rgb(112, 112, 112);
}

.pricing {
  background-color: hsl(225, 100%, 98%);
  width: 100%;
  height: 85px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 35px;
}

.plan {
  font-weight: bold;
}

.price {
  color: rgb(112, 112, 112);
}

.change-btn {
  color: hsl(245, 75%, 52%);
  transition: all 0.3s;
}

.change-btn:hover {
  text-decoration: none;
  opacity: 0.5;
}

.music-icon {
  display: block;
  width: 100%;
}

.img-container {
  background-color: hsl(225, 100%, 94%);
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.btn {
  flex-direction: column;
  width: 100%;
}

.proceed-btn,
.cancel-btn {
  font-weight: bold;
  font-size: 15px;
}

.proceed-btn {
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 10px;
  margin-bottom: 18px;
  box-shadow: 3px 10px 5px hsla(245, 75%, 52%, 0.15);
  cursor: pointer;
  transition: all 0.3s;
}

.proceed-btn:hover {
  opacity: 0.7;
}

.cancel-btn {
  color: rgb(112, 112, 112);
  cursor: pointer;
  transition: all 0.3s;
}

.cancel-btn:hover {
  color: black;
}

.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: bold;
  font-style: italic;
}
